/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  background-color: whitesmoke;
  margin: 0px;
  padding: 0px;
}

/* input:focus {
    outline: none;
    border-color: #6757f6;
} */

.lines {
    @apply basis-1/3 border-0 border-b border-solid
}

/* SIGN UP CONTAINER */
.signup-wrapper {
  @apply p-8 lg:p-12 flex flex-col gap-4 bg-[#fff];
}

/* SIGN IN CONTAINER */
.signin-wrapper {
  @apply mx-auto p-8 flex flex-col gap-4 bg-[#fff] lg:my-12 lg:w-1/6 lg:rounded-2xl;
}

.icon {
    @apply w-5 border border-solid border-gray-400 pt-1 pb-0 px-5 rounded
}